---
http_interactions:
- request:
    method: post
    uri: https://money.yandex.ru/api/request-payment
    body:
      encoding: UTF-8
      string: pattern_id=p2p&to=410011161616877&test_payment=true&test_result=success
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"refused","error":"illegal_params","error_description":"At
        least one parameter of amount or amount_due is expected","test_payment":"true"}'
  recorded_at: Mon, 10 Nov 2014 19:24:30 GMT
recorded_with: VCR 2.9.3
