---
http_interactions:
- request:
    method: post
    uri: https://money.yandex.ru/api/request-payment
    body:
      encoding: UTF-8
      string: pattern_id=p2p&to=410011161616877&amount=0.02&comment=test%20payment%20comment%20from%20yandex-money-ruby&message=test%20payment%20message%20from%20yandex-money-ruby&label=testPayment&test_payment=true&test_result=success
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","contract":"The generated test outgoing money transfer
        to 410011161616877, amount 0.02","balance":6.88,"recipient_account_type":"personal","recipient_account_status":"identified","request_id":"test-p2p","test_payment":"true","contract_amount":0.02,"recipient_identified":true,"money_source":{"wallet":{"allowed":true}}}'
  recorded_at: Mon, 10 Nov 2014 19:24:29 GMT
recorded_with: VCR 2.9.3
