---
http_interactions:
- request:
    method: post
    uri: https://money.yandex.ru/api/process-payment
    body:
      encoding: UTF-8
      string: request_id=test-p2p&test_payment=true&test_result=success
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","balance":6.88,"payer":"<WALLET_NUMBER>","payee":"test","credit_amount":28.86,"payee_uid":56809635,"test_payment":"true","payment_id":"test"}'
  recorded_at: Mon, 10 Nov 2014 19:24:30 GMT
recorded_with: VCR 2.9.3
